@model IEnumerable<Erk.DTO.Entities.Stok>

@{
    ViewData["Title"] = "StokListesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Stok Kodu Listesi</h2>

<div class="mb-3">
    <a href="@Url.Action("StokEkle", "Stok")" class="btn btn-primary">Yeni Stok Kodu Ekle</a>
    <a href="@Url.Action("StokKodExceldenEkle", "Stok")" class="btn btn-secondary">Excel'den Stok Kodu Ekle</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Stok Kodu</th>
            <th>Stok Kayıt Tarihi</th>
            <th>Stok Durumu</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stok in Model)
        {
            <tr>
                <td>@stok.StokID</td>
                <td>@stok.StokKodu</td>
                <td>@stok.StokOlusturulmaTarihi</td>
                <td>@stok.StokAktiflikDurumu</td>
                <td>
                    <a href="@Url.Action("StokKodGuncelle", "Stok", new { id = stok.StokID})" class="btn btn-warning">Güncelle</a>
                    <a href="@Url.Action("StokKodSil", "Stok", new { id = stok.StokID})" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>